VITE_SUPABASE_URL=https://YOUR-PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

VITE_UPLOAD_WORKER_URL=https://magazyn-upload.globalpp.workers.dev
VITE_R2_PUBLIC_BASE_URL=https://pub-dd2a5f254fce44b8991a590e2bf13cc2.r2.dev